<h1 class="text-center">Liste aller Patienten</h1>
<div class="container">
  <div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Station 1</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Station 2</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">Station 3</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">Station 4</a>
  <a class="list-group-item list-group-item-action" href="#list-item-5">Station 5</a>
  <a class="list-group-item list-group-item-action" href="#list-item-6">Station 6</a>
  <a class="list-group-item list-group-item-action" href="#list-item-7">Station 7</a>
</div>
  <%station = 0
    7.times do
      station += 1
  %>
  <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-<%=station%>">Station <%= station %></h4>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Station</th>
        <th scope="col">Raum</th>
        <th scope="col">Aktion</th>
      </tr>
      </thead>
      <tbody>
        <%Patient.where(station: station).find_each do |patient|%>
          <tr>
            <td><%= patient.first_name %></td>
            <td><%= patient.last_name%></td>
            <td><%= patient.station %></td>
            <td><%= patient.room %></td>
            <td>
              <%= link_to "Bearbeiten", edit_patient_path(patient), class: "btn btn-outline-success" %>
              <%= link_to "Löschen", patient_path(patient), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
            </td>
          </tr>
        <%end%>  
      </tbody>
    </table>
    </div>
  <%end%>

</div> 
